html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Red Hat Display', sans-serif;
  font-size: $font-regular;
  background-image: url('../../images/pattern-background-mobile.svg');
  background-color: $paleBlue;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;

  .component {
    width: 90%;
    margin: 4.375rem auto;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    color: $desaturatedBlue;
  }
}