// Colors
// Primary
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
// Neutral
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

// Fonts
// Font size
$font-small: 0.875rem;
$font-regular: 1rem;
// Font weight
$font-medium: 500;
$font-bold: 700;
$font-black: 900;